#_bg {
    background-image: url(../img/airplane.png);
    background-size: cover;
}

._input-area {
    background-color: rgba( 0, 132, 253, 0.3);
    padding: 20px;
    margin-top: 25px;
}

#_info-area {
    background-color: rgba( 0, 132, 253, 0.3);
    padding: 20px;
    margin-top: 25px;
}
